body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    
}
header {
    width: 100%;
    min-height: 69px;
    background-color: black;
    border-bottom: 1px solid seashell;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
}
header img {
    height: 50px;
    margin-left: 10px;
}
header nav {
    margin-right: 10px;
}
li {
    display: inline-block;
    margin-right: 15px;
}
a{
    color: seashell;
}
.container {
    margin: 0 auto;
    margin-top: 85px;
}
#mission{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('images/img-mission-background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    max-width: 1200px;
    flex-wrap: wrap;
}
.banner{
    width: 100%;
    background-color: black;
}
.imgboxes{
    display: inline-flex;
    flex-flow: row wrap;
}
.imgboxes img {
    height: 200px;
    width: 300px;
}
.imgboxes figcaption {
    margin-top: 10px;
}
#locations {
    background-image: url('images/img-locations-background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 750px;
}
#locations h2 {
    padding-top: 150px;
}
.addresses {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}
.details {
    background-color: black;
    opacity: 1;
    width: 300px;
    height: 300px;
    margin: 15px 20px;
}
footer {
    height: 200px;
}
.copyright {
    text-align: left;
    margin-left: 20px;
}
